@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Calculate Wage</h2>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label>EmployeeId</label>
                    <input class="form-control" name="employeeId" type="number" />
                </div>

                <div class="form-group">
                    <label>Hours</label>
                    <input class="form-control" name="hours" type="tel" />
                </div>

                <button type="submit">Calculate</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>@ViewBag.TaxValue</h3>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Employee</h2>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Rate Per Hour</th>
                    <th>CPA/ACS Number</th>
                    <th>Expire</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var technician in ViewBag.Technician)
                {
                    <tr>
                        <td>@technician.EmployeeId</td>
                        <td>@technician.EmployeeName</td>
                        <td>@technician.RatePerHour</td>
                        <td>@technician.AcsNumber</td>
                        <td>@technician.ExpireDate</td>
                    </tr>
                }
                @foreach (var accountant in ViewBag.Accountant)
                {
                    <tr>
                        <td>@accountant.EmployeeId</td>
                        <td>@accountant.EmployeeName</td>
                        <td>@accountant.RatePerHour</td>
                        <td>@accountant.CpaNumber</td>
                        <td>None</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>